.modules {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
}

.titleWrapper {
  border-top: 3px solid rgb(19, 97, 107);
}

.title {
  line-height: 1;
  padding: 5px;
  width: fit-content;
  font-size: 26px;
  color: #fff;
  background-color: rgb(19, 97, 107);
}

.cardtitle {
  background: linear-gradient(to left, #073954, #007e8c);
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(1, 15, 28, 0.14);
}

.cardtitle h1 {
  font-size: 27px;
  line-height: 27px;
  color: white;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  background: #007e8c;
  padding: 10px;
  margin-bottom: 0px;
  text-shadow: 2px 1px 1px #ff0000;
  text-transform: capitalize;
  font-family: play;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
