.modules {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuWrapper ul {
  background-image: linear-gradient(to right, #073954, #007e8c);
  max-width: 1300px;
  color: azure !important;
}


