.modules {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuWrapper ul {
  background-image: linear-gradient(to right, #073954, #007e8c);
  justify-content: center;
}

.menuWrapper ul li a, .menuWrapper ul li span{
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
}

