.detailtContainer {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
}

.detailtProduct_overall {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.detaiProduct_image {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.small_image {
    height: 70px;
    width: 50px;
}

.lineThrought {
    text-decoration: line-through;
    color: #767a7d;
    font-size: 24px;
    font-weight: 400;
    margin-left: .5rem;
}

.customTtable {
    border-collapse: collapse;
    width: auto;
    border: 1px solid #ccc;
}

.courseName {
    font-size: 29px;
    line-height: 36px;
    font-weight: 600;
}

.detailProduct_information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-table td {
    border: 1px solid #da1818;
    padding: 10px 15px;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn_addToCart {
    padding: 9px 10px;
    background-color: rgb(25, 118, 210);
    color: white;
    border-radius: 5px;
    height: 46px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 
}

.btn_buy {
    padding: 10px 30px;
    background-color: rgb(211, 47, 47);
    color: white;
    border-radius: 5px;
    height: 46px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px
}

.price {
    color: red;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.02em;
}
