.modules {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1{
  font-weight: 600;
  font-size: 33px;
  font-family: 'Play';
  color:  #073954;
  text-transform: uppercase;
}

.title p{
  font-weight: 300;
  font-size: 15px;
  font-family: 'Play';
  color:  #55585b;
}
